@page
@model RentHouse.Pages.Hiring.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.HName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.HName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
